*{
    padding: 0px;
    margin: 0px;
}
header{
    right: 20px;
    text-decoration: none;
    nav-down: current;
    font-size: 1em;
    
}
.inicio{
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 10px;
}
#titulo{
    text-align: center;
    padding: 5vh;
}
#text-inicio{
    padding: 10px;
}